# dependencies
node_modules/

# Next.js build output
.next/
out/

# environment variables
.env
.env.local
.env.local.backup
.env*.local
.env.*.local

# TypeScript
tsconfig.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
.vercel
.env*.local
